body > #root > div {
  height: 77vh;
}

.gameSection{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 3%;
  height: 100%;
}

.title {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center
}

.gameImage {
  height: 100%;
  width: 100%;
}


.button {
  width: 46%;
  height: 4vh;
  margin: 1% 2% 1% 2%;
  padding: 2% 0 2% 0;
}

.story {
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 4%;
}
